* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Libre Bodoni', serif;
    background-image: url('./images/dirty.jpg');
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    
}

.ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
}

.nav>.ul a {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}
#containerOne {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44rem;
    width: auto;

}

#title {
    font-size: 10rem;
    text-align: right;
    line-height: 1.5;
    min-width: 100%;
}

#img-caption {
    background-image: url('./images/white.png');
}
.firstSectionDiv, .secondSectionDiv {
    background-color: white;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.image {
    width: 40rem;
    height: auto;
}

.firstImg, .secondImg {
    width: 100%;
    height: auto;
}

h3 {
    font-size: 3rem;
}

p {
    text-justify: auto;
}

.firstSectionPar {
    border: 2px solid black;
    padding: 2%;
    display: inline-block;
}

.secondSectionPar {
    border: 2px solid black;
    text-align: right;
    padding: 2%;
    display: inline-block;
}

.firstSectionPar p, .secondSectionPar p {
    font-size: 1.4rem;
   
}

@media all and (max-width: 1200px){
    .firstSectionDiv, .secondSectionDiv {
        flex-direction: column;
    }

    #containerOne {
        flex-direction: column;
        margin-top: 1rem;
       border: 2px solid black;
       padding-bottom: 2%;
    }

    #title {
        font-size: 7rem;
        text-align: left;
        line-height: 1;
    }

    #image {
        max-width: 90%;
        height: auto;
        padding-left: 2rem;
    }
/* Commit code below */
    .secondSectionPar {
        text-align: left;
    }

}

@media all and (max-width: 500px){
    body{
        margin: 0.5rem;
    }
}